# Terraform
.terraform/*
*.tfstate
*.tfstate.backup
.terraform.lock.hcl
lesson-5-6/eks-vpc-cluster/.terraform/providers/registry.terraform.io/hashicorp/tls/4.1.0/windows_amd64/LICENSE.txt
lesson-5-6/eks-vpc-cluster/.terraform/providers/registry.terraform.io/hashicorp/time/0.13.1/windows_amd64/terraform-provider-time_v0.13.1_x5.exe
lesson-5-6/eks-vpc-cluster/.terraform/providers/registry.terraform.io/hashicorp/tls/4.1.0/windows_amd64/terraform-provider-tls_v4.1.0_x5.exe
lesson-5-6/eks-vpc-cluster/.terraform/providers/registry.terrafor.io/*
lesson-5-6/eks-vpc-cluster/.terraform/*
lesson-5-6/eks-vpc-cluster/.terraform/providers/registry.terraform.io/hashicorp/time/0.13.1/windows_amd64/LICENSE.txt
lesson-5-6/eks-vpc-cluster/.terraform/providers/registry.terraform.io/hashicorp/null/3.2.4/windows_amd64/terraform-provider-null_v3.2.4_x5.exe
lesson-5-6/eks-vpc-cluster/.terraform/modules/eks.eks_cluster.kms
lesson-5-6/eks-vpc-cluster/.terraform.lock.hcl
lesson-7/s3/.terraform/*
lesson-8/s3/.terraform/*
lesson-9/s3/.terraform/*
lesson-7/eks-vpc-cluster/.terraform/*
lesson-8/eks-vpc-cluster/.terraform/*
lesson-9/eks-vpc-cluster/.terraform/*
lesson-7/argocd/.terraform/*
lesson-8/argocd/.terraform/*
lesson-9/argocd/.terraform/*
lesson-9/venv/*
lesson-9/mlflow-experiments/.env
lesson-9/mlflow-experiments/mlruns/*
lesson-10/terraform/.terraform/*
lesson-9/mlflow-experiments/mlflow.db
lesson-7/argocd/.terraform/.terraform/
**/.terraform/
**/venv/*
lesson-3/venv/*
