# Terraform
.terraform/*
*.tfstate
*.tfstate.backup
.terraform.lock.hcl
*.terraform/
lesson-4/my-first-project/.terraform/
lesson-4/my-first-project/eks/.terraform/
lesson-5-6/eks-vpc-cluster/.terraform/providers/registry.terraform.io/hashicorp/tls/4.1.0/windows_amd64/LICENSE.txt
lesson-5-6/eks-vpc-cluster/.terraform/providers/registry.terraform.io/hashicorp/time/0.13.1/windows_amd64/terraform-provider-time_v0.13.1_x5.exe
lesson-5-6/eks-vpc-cluster/.terraform/providers/registry.terraform.io/hashicorp/tls/4.1.0/windows_amd64/terraform-provider-tls_v4.1.0_x5.exe
lesson-5-6/eks-vpc-cluster/.terraform/providers/registry.terrafor.io/*
lesson-5-6/eks-vpc-cluster/.terraform/*
lesson-5-6/eks-vpc-cluster/.terraform/providers/registry.terraform.io/hashicorp/time/0.13.1/windows_amd64/LICENSE.txt
lesson-5-6/eks-vpc-cluster/.terraform/providers/registry.terraform.io/hashicorp/null/3.2.4/windows_amd64/terraform-provider-null_v3.2.4_x5.exe
lesson-5-6/eks-vpc-cluster/.terraform/modules/eks.eks_cluster.kms
lesson-5-6/eks-vpc-cluster/.terraform.lock.hcl


## PS C:\DIR\GOIT\mlops> git ls-files -s | Sort-Object { ($_ -split '\s+')[4] } -Descending | Select-Object -First 30
## git rm --cached lesson-5-6/eks-vpc-cluster/.terraform/*